body {
  background-color: rgb(27, 27, 25);
  color: white;
  font-family: "Urbanist", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.container h1 {
  font-size: 60px;
  letter-spacing: 4px;
}

.countdownWrapper {
  padding: 30px;
  font-size: 30px;
  width: 50vw;
}

.countdownWrapper ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.countdownWrapper li {
  padding: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.countdownWrapper li span {
  margin-right: 10px;
  font-size: 50px;
  font-weight: bold;
}

.emoji {
  display: none;
}
